/* CSS Reset */
html, body, div, section, span, ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}

body{
	background:#F3F3F3;
}

ul, ol{
	list-style:none;
}

/* Page Header */
header.page{
    text-align:center;
    padding:0 1.5em;
	line-height:2.5em;
}

header .brand {
    float:left;
    width:10em;
}

#top_nav{
    width:82%;
    float:left;
    width:80%;
}

#top_nav li{
    float:left;
}

#top_nav li a{
    display:block;
    padding:0 1em;
}

header.page.wrapper{
    background:#FAFAFA;
    opacity: 0.9;
    position:fixed;
    top:0;left:0;
    width:100%;
}

div.container.page {
	float:left;
	width:100%;
	max-width:42em;
	min-height:500px;
}

aside.page{
	float:left;
	width:10em;
	padding:0 1em 0 0;
}

nav.nav_aside{
	text-align:right;
}

.article_header h1{
	text-align:center;
	color:#444;
}

/* Layout */
body{
    text-align:center;
}

.container {
    width:50em;
    margin:auto;
    text-align:left;
}

#content {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    background: white;
    padding:1em 1.5em;
    margin:5em auto 4em auto;
    border:1px solid #EAEAEA;
    border-bottom:1px solid #CCC;
}


article.post .title{
    //text-align:center;
    border-bottom:3px solid black;
}

article.post {
    padding-bottom:2em;
    margin-bottom:1em;
}

article.post.last{
    border:none;
}

.post .meta-data {
    padding:0.5em 0;
    margin:0 0 1em 0;
    color: #777;
    overflow:hidden;
}
.post .meta-data .posttime{
    float:left;
    width:50%;
}
.post .meta-data .categories{
    float:right;
    width:50%;
    text-align:right;
}

.post .meta-data .categories ul{
    float:right;
}

.post .meta-data .categories li{
    float:left;
    margin:0 0.5em;
}

.category_title{
    text-align:center;
}
