/* CSS Reset */
html, body, div, section, span, ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}

body{
	background:#EEE;
}

ul, ol{
	list-style:none;
}

/* Page Header */
header.page{
    text-align:center;
    padding:0 1.5em;
	line-height:3em;
}

div.container.page {
	float:left;
	width:100%;
	max-width:42em;
	min-height:500px;
}

aside.page{
	float:left;
	width:10em;
	padding:0 1em 0 0;
}

nav.nav_aside{
	text-align:right;
}

.article_header h1{
	text-align:center;
	color:#444;
}

/* Layout */
body{
    text-align:center;
}

.container {
    width:50em;
    margin:auto;
    text-align:left;
}

#content {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    background: white;
    padding: 1.5em;
}
